@import "../bourbon/bourbon";

$anim: 0.5s;
$bez: cubic-bezier(.13,1,.98,.98);
$primary: rgba(90, 74, 247, 1);

@include keyframes(fadeInUp) {
    0% {
        margin-top: 80px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}
.animate.fade-in-up {
    opacity: 0!important;
    @include animation( fadeInUp $anim $bez forwards );
}
.animated {
    opacity: 0;
}
