@import "../bourbon/bourbon";

// Variables
$primary: #a0a083;
$textcolor1: #2a2a2a;
$textcolor2: #787878;

$anim: 0.25s;

$navbarheight: 100px;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/*
http://patorjk.com/software/taag/#p=display&f=Sub-Zero&t=Normalizer
 __   __     ______     ______     __    __     ______     __         __     ______     ______     ______
/\ "-.\ \   /\  __ \   /\  == \   /\ "-./  \   /\  __ \   /\ \       /\ \   /\___  \   /\  ___\   /\  == \
\ \ \-.  \  \ \ \/\ \  \ \  __<   \ \ \-./\ \  \ \  __ \  \ \ \____  \ \ \  \/_/  /__  \ \  __\   \ \  __<
 \ \_\\"\_\  \ \_____\  \ \_\ \_\  \ \_\ \ \_\  \ \_\ \_\  \ \_____\  \ \_\   /\_____\  \ \_____\  \ \_\ \_\
  \/_/ \/_/   \/_____/   \/_/ /_/   \/_/  \/_/   \/_/\/_/   \/_____/   \/_/   \/_____/   \/_____/   \/_/ /_/

*/

html {
    height: 100%;
}
html, body, h1, h2, h3, h4, h5, h6, p, div, blockquote {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
ul {
    cursor: default;
    -webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
:focus {
    outline: 0;
}
a, a:focus, a:hover, a:visited {
    color: $primary;
    text-decoration: none;
    cursor: pointer;
}
* {
    box-sizing: border-box;
}
*::selection {
    background: $primary;
    color: #fff;
}

/*
 ______     __         ______     ______     ______     __
/\  ___\   /\ \       /\  __ \   /\  == \   /\  __ \   /\ \
\ \ \__ \  \ \ \____  \ \ \/\ \  \ \  __<   \ \  __ \  \ \ \____
 \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \ \_____\
  \/_____/   \/_____/   \/_____/   \/_____/   \/_/\/_/   \/_____/

*/

.container {
    width: 1320px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
// Underline hover effect
.underline {
    color: #fff;
    font-size: 16px;
    position: relative;
    @include transition( all $anim $ease-out-quint );
    &::before {
        content: "";
        position: absolute;
        background: $primary;
        left: 0;
        bottom: -6px;
        height: 4px;
        right: 100%;
        @include transition( all $anim $ease-out-quint );
        overflow: hidden;
    }
    &:hover {
        color: $primary;
        &::before {
            right: 0;
        }
    }
}
.btn {
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 4px solid $primary;
    color: $primary;
    padding: 0.5em 3em;
    min-width: 240px;
    min-height: 60px;
    cursor: pointer;
    position: relative;
    @include transition( all $anim*2 $ease-out-quint );
    &::before {
        content: "";
        background: $primary;
        right: 100%;
        left: 0;
        bottom: 0;
        top: 0;
        overflow: hidden;
        position: absolute;
        @include transition( all $anim*2 $ease-out-quint );
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &::before {
            right: 0;
        }
    }
}
.btn-white {
    border-color: #fff;
    color: #fff;
    &::before {
        background: #fff;
    }
    &:hover {
        color: $primary;
    }
}
.valign {
    @include display(flex);
    @include flex-direction(column);
    &::before, &::after {
        content: "";
        @include flex-grow(1);
    }
    height: 100%;
}

/*
 __   __     ______     __   __   ______     ______     ______
/\ "-.\ \   /\  __ \   /\ \ / /  /\  == \   /\  __ \   /\  == \
\ \ \-.  \  \ \  __ \  \ \ \'/   \ \  __<   \ \  __ \  \ \  __<
 \ \_\\"\_\  \ \_\ \_\  \ \__|    \ \_____\  \ \_\ \_\  \ \_\ \_\
  \/_/ \/_/   \/_/\/_/   \/_/      \/_____/   \/_/\/_/   \/_/ /_/

*/

.nav {
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;
    .nav-logo {
        background: url('../img/logo_small_white.png') center center no-repeat;
        width: 80px;
        height: $navbarheight;
        float: left;
    }
    .logo-black {
        background: url('../img/logo_small_black.png') center center no-repeat;
    }
    .nav-links {
        float: right;
        height: $navbarheight;
        overflow: hidden;
        ul {
            list-style: none;
            display: table;
            height: 100%;
            li {
                display: table-cell;
                vertical-align: middle;
                padding: 2em;
                font-size: 18px;
            }
        }
    }
}

/*
 __  __     ______     __    __     ______
/\ \_\ \   /\  __ \   /\ "-./  \   /\  ___\
\ \  __ \  \ \ \/\ \  \ \ \-./\ \  \ \  __\
 \ \_\ \_\  \ \_____\  \ \_\ \ \_\  \ \_____\
  \/_/\/_/   \/_____/   \/_/  \/_/   \/_____/

*/

.landing {
    background: url('../img/bg.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    .hello-text {
        padding-bottom: 48px;
        h1 {
            color: #fff;
            font-size: 96px;
            cursor: default;
        }
    }
}
