# Node-related files
/node_modules

# Compiled files
/public/hot
/public/storage

# Custom configurations
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env

# For Macs
.DS_Store

# SASS
.sass-cache/
bourbon
