// Variables
$primary: #a0a083;
// $primary: #7899a7;
// $primary: #095960;
$textcolor1: #2a2a2a;
$textcolor2: #787878;
$linkcolor: #414141;
$bgcolor2: #e2e2e2;

$anim: 0.2s;
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);

$padding: 80px;
$container: 1320px;
$mobile: 1024px;
$navbarheight: 100px;
