@import "../bourbon/bourbon";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Variables
$primary: #a0a083;
$textcolor1: #2a2a2a;
$textcolor2: #787878;
$linkcolor: #414141;
$bgcolor2: #e2e2e2;

$anim: 0.25s;

$padding: 80px;
$container: 1320px;
$navbarheight: 100px;
